<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>拖动.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C569B6CA1DE2C14A00FF1EAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C569B6E31DE2C14B00FF1EAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C569B6EE1DE2C14B00FF1EAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
